@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alice-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
:root {
    --column-width: 1440px;
    --offset: calc(50% - (var(--column-width) / 2));
    --color-black: #1f1f1f;
    --color-white: #ffffff;
    --color-light-grey: #d2d2d2;
    --color-grey: #aeaeae;
    --color-blue2: #2d9cdb;
    --color-red: #c81317;
    --color-red-hover: #b80c10;
    --color-skin: #f3e4b9;
    --color-green2: #27ae60;
}

body,
input,
textarea,
select {
    font-family: 'Alice';
    font-size: 16px;
    -webkit-text-size-adjust: none;
}

#transition-disabled * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

img,
svg {
    max-width: 100%;
    display: block;
}

* {
    box-sizing: border-box;
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
form,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
span,
b,
i,
input,
textarea,
fieldset {
    margin: 0;
    padding: 0;
}

.none {
    display: none;
}

.fade-out {
    opacity: 1;
    transition: 0.3s;
    pointer-events: auto;
}

.fade-out.active {
    opacity: 0;
    pointer-events: none;
}

.fade-in {
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

.fade-in.active {
    opacity: 1;
    pointer-events: auto;
}

.container {
    padding-left: var(--offset);
    padding-right: var(--offset);
}

.container-offset {
    width: var(--column-width);
    margin-left: auto;
    margin-right: auto;
}

img[srcset] {
    object-fit: scale-down !important;
    object-position: center !important;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10001;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}

#loader.active {
    opacity: 1;
    pointer-events: auto;
}

#loader path {
    fill: var(--color-second);
}

a {
    text-decoration: none;
}

.h1 {
    font-size: 46px;
    font-family: 'Alice';
    font-weight: 500;
    line-height: 58px;
}

.h2 {
    font-size: 46px;
    font-family: 'Alice';
    font-weight: 600;
    line-height: 58px;
    text-transform: uppercase;
}

.h3 {
    font-size: 30px;
    font-family: 'Alice';
    font-weight: 600;
    line-height: 42px;
    text-transform: uppercase;
}

.h4 {
    font-size: 26px;
    font-family: 'Alice';
    font-weight: 600;
    line-height: 36px;
    text-transform: uppercase;
}

.h5 {
    font-size: 20px;
    font-family: 'Alice';
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
}

.subtitle {
    font-size: 22px;
    font-family: 'Alice';
    line-height: 32px;
}

.extra-text {
    font-size: 16px;
    font-family: 'Alice';
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
}

.footer {
    font-size: 16px;
    font-family: 'Alice';
    line-height: 24px;
}

.footer-title {
    font-size: 15px;
    font-family: 'Alice';
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.menu {
    font-size: 15px;
    font-family: 'Alice';
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.button-normal {
    font-size: 16px;
    font-family: 'Alice';
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
}

.button-small {
    font-size: 14px;
    font-family: 'Alice';
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.button-small-2 {
    font-size: 13px;
    font-family: 'Alice';
    font-weight: 600;
    line-height: 24px;
}

.lang {
    font-size: 13px;
    font-family: 'Alice';
    font-weight: 700;
    line-height: 22px;
}

.cookie-headline {
    font-size: 14px;
    font-family: 'Alice';
    font-weight: 600;
    line-height: 24px;
}

.cookie {
    font-family: 'Alice';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.main-text {
    font-size: 18px;
    font-family: 'Alice';
    font-weight: 300;
    line-height: 30px;
}

.filter {
    font-size: 16px;
    font-family: 'Alice';
    font-weight: 600;
    line-height: 24px;
}

.bread-crumbs {
    font-size: 14px;
    font-family: Raleway;
    font-weight: 500;
    line-height: 20px;
}

.little-text {
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.color-black {
    color: var(--color-black);
}

.color-grey {
    color: var(--color-grey);
}

.color-light-grey {
    color: var(--color-light-grey);
}

.color-white {
    color: var(--color-white);
}

.color-red {
    color: var(--color-red);
}

.color-red-hover {
    color: var(--color-red-hover);
}

.color-green2 {
    color: var(--color-green2);
}

/* 404 */

.error-404 {
    position: relative;
}

.breadcrumbs-404 {
    /* margin-top: 84px; */
    /* margin-left: var(--offset); */
    position: absolute;
    top: 94px;
    left: calc(var(--offset) + 80px);
}

.error-404-content-inner {
    padding: 0 80px;
}

.breadcrumbs-404 .breadcrumbs {
    margin: 0;
}

.breadcrumbs-404 .container {
    padding: 0;
}

.error-404-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 572px;
}

.error-404-image {
    display: block;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: contain;
}

.error-404-title {
    display: block;
    width: 570px;
    margin-top: 221px;
    margin-bottom: 15px;
    font-size: 64px;
    font-family: 'Alice';
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    text-transform: uppercase;
}

.error-404-description {
    width: 570px;
}

.btn-section-404 {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
}

.error-404-content .btn-home {
    display: flex;
    padding: 14px 50px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: 'Alice';
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    border: 2px solid var(--color-red);
}


.error-404-content .btn-catalog {
    display: flex;
    padding: 14px 50px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: 'Alice';
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    background: var(--color-red);
    border: 2px solid var(--color-red);
}

.btn-home:hover {
    transition: 0.3s;
    color: var(--color-white);
    background: var(--color-red);
}

.btn-catalog:hover {
    transition: 0.3s;
    color: var(--color-red);
    background: transparent;
    border: 2px solid var(--color-red);
}

.mb {
    margin-bottom: 80px;
}

/* MODALS */

body {
    position: relative;
}

html {
    height: 100%;
    position: relative;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 10000;
}

.modal3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 10001;
}

.modal4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 10001;
}

.modal2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 10001;
}

.container-modal {
    border-radius: 10px;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 70px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.closemodal {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
}

.closemodal svg {
    width: 16px;
    height: 16px;
}

.mobile {
    display: none !important;
}